@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Bold.woff2') format('woff2'),
        url('subset-PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prata';
    src: url('subset-Prata-Regular.woff2') format('woff2'),
        url('subset-Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Regular.woff2') format('woff2'),
        url('subset-PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}