@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/subset-PTSans-Bold.woff2') format('woff2'),
  url('../fonts/subset-PTSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Prata';
  src: url('../fonts/subset-Prata-Regular.woff2') format('woff2'),
  url('../fonts/subset-Prata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/subset-PTSans-Regular.woff2') format('woff2'),
  url('../fonts/subset-PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
} 
.wrapper {
  width: 320px; 
  margin: 0 auto;
}
.container {
  padding: 16px;
}
.promo {
  height: 536px;
  background-image: url(../img/bg_main-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: ;
}
.promo__header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logo {
  color: #eec643;
  font-family: Prata;
  font-size: 30px;
  font-weight: 400;
  z-index: 20;
}
.menu__burger {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 22px;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 0;
  padding: 0;
  margin: 0;
  align-items: center;
}
.menu__burger span {
  margin: 0;
  height: 2px;
  width: 24px;
  font-size: 0;
  background-color: white;
}
.menu__burger:before, .menu__burger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
.menu__burger:before {
  top: 0;
}
.menu__burger:after {
  bottom: 0;
}
.menu__burger--close {
  display: none;
  //display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-size: 0;
  border: none;
  width: 24px;
  height: 22px;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 30;
  padding: 0;
  margin: 0;
  position: relative;
}
.menu__burger--close:before, .menu__burger--close:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
.menu__burger--close:before {
  transform: rotate(45deg);
}
.menu__burger--close:after {
  transform: rotate(135deg);
}
.menu__list {
  display: none;
  width: 320px;
  height: 225px;
  line-height: 30px;
  font-size: 18px;
  top: -15px;
  left: -16px;
  padding-top: 50px; 
  padding-left: 20px;
  margin: 0;
  background-color: black;
  position: absolute;
}
.menu__item {
  list-style: none;
}
.menu__link {
 font-family: 'PT Sans';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #f9fcfc;
  text-decoration: none;
}
.promo__content {
  margin-top: 70px;
  margin-right: 90px;
}
.promo-wide__content {
  display: none;
}
.promo__title{
  font-family: 'Prata';
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  color: #f9fcfc;
}
.promo__description {
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #f9fcfc;
}
.trial {
  display: none;
}
.promo__trial-lesson {
  margin-top: 75px;
  padding: 0;
  border: none;
}
.trial-lesson__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 60px;
  background-color: #eec643;
}
.trial-lesson__link {
  font-family: 'PT Sans';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #f9fcfc;
  text-decoration: none;
}
.direction {
  margin-top: 10px;
}
.block-title {
  width: 75%;
  border-top: 1px solid #eec643;
  border-bottom: 1px solid #eec643;
}
.block-title__text {
  margin: 5px;
  margin-left: 10px;
  font-family: Prata;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #021a23;
}
.direction__wrap {
  display: flex;
  flex-direction: column;
}
.direction__item {
  min-height: 144px;
  margin: 10px 0px;
  padding-top: 31px;
  padding-left: 11px;
}
.direction__col {
  display: flex;
  flex-direction: column;
}
.direction__item-guitar {
  min-width: 100%;
  background-image: url(../img/directions_card_img_11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.direction__item-vocal {
  order: -1;
  min-width: 100%;
  background-image: url(../img/directions_card_img_12.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.direction__item-piano {
  flex: 0 1 80%;
  background-image: url(../img/directions_card_img_13.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.direction__item-lecture {
  display: none;
}
.direction__item-all {
  display: none;
}
.direction__title {
  margin: 0;
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #f9fcfc;
}
.direction__desc {
  width: 85%;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #f9fcfc;
}
.direction-wide__desc {
  display: none;
}
.direction__price {
  display: none;
}
.block-rotated {
  border: none;
  //flex: 0 1 20%;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  width: 60px;
  height: 144px;
  background-color: #eec643;
}
.direction__row {
  display: flex;
  flex-direction: row;
}
.block-wrapper {
  transform: rotate(-90deg);
  margin-top: 80px;
}
.block-rotated__title {
  text-align: left;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #021a23;
}
.block-rotated__title--white {
  color: #f9fcfc;
}
.tempo__card {
  min-height: 144px;
  margin: 10px 0px;
  padding-top: 31px;
  padding-left: 11px;
}
.tempo__right {
  display: flex;
  flex-direction: row;
}
.tempo__card--bg {
  display: none;
}
.tempo__card--composition {
  min-width: 100%;
  background-image: url(../img/advantages_card_img_11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tempo__card--result {
  min-width: 100%;
  background-image: url(../img/advantages_card_img_12.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tempo__card--studio {
  flex: 0 1 80%;
  background-image: url(../img/advantages_card_img_13.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tempo__title {
  margin: 0;
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #f9fcfc;
}
.tempo__discription {
  width: 80%;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #f9fcfc;
}
.tempo__discription--wide {
  display: none;
}
.video__list {
  padding: 0 24px;
}
.video__item {
  min-height: 186px;
  margin: 10px 0px;
  padding-top: 31px;
  padding-left: 11px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  width: 10px;
  height: 20px;
  font-size: 0;
  border: none;
  background-color: transparent;
  transform: translateY(-50%);
}
.slick-prev {
  background-image: url(../img/arrow-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
}
.slick-next {
  background-image: url(../img/arrow-next.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: 0;
}
.video__item--A {
  background-image: url(../img/video_card_img_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video__item--B {
  background-image: url(../img/video_card_img_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video__item--C {
  background-image: url(../img/video_card_img_3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video__item--D {
  background-image: url(../img/video_card_img_4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video__item--A:before,
.video__item--B:before,
.video__item--C:before,
.video__item--D:before {
  content: '';
  position: absolute;
  background-image: url(../img/play_button.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 35px;
  margin: 40px 100px;
}
.video__title {
  margin-top: 42%;
  margin-bottom: 0;
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #f9fcfc;
}
.video__title--bg {
  display: none;
}
.video__discription--bg {
  display: none;
}
.video__discription {
  margin: 0;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #f9fcfc;
}
.location__address {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  color: #021a23;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.location__phone {
  color: #021a23;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}
.trial--buttom {
  margin-top: 20px;
}
#map {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer {
  display: none;
}

/*@media (min-width: 1280px) {*/
@media (min-width: 1280px) {
.wrapper {
  width: 1280px;
  margin: 0 auto;
}
.container {
  padding: 50px;
}
.promo {
  width: 100%;
  height: 768px;
  background-image: url(../img/bg_main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo {
  margin-top: -20px;
}
.menu {
  margin-right: -20px;
}
.menu__burger {
  display: none;
}
.menu__list {
  display: flex;
  list-style: none;
  width: auto;
  height: auto;
  line-height: 30px;
  font-size: 18px;
  top: -15px;
  left: -16px;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: transparent;
}
.menu__item {
  margin: 0px 20px;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__link {
  text-decoration: none;
  color: #021a23;
}
.promo_container {
  display: flex;
  flex-direction: row;
}
.promo__content {
  display: none;
}
.promo-wide__content {
  display: block;
  margin-top: 235px;
  width: 60%;
}
.promo-wide__title{
  font-family: 'Prata';
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
  color: #f9fcfc;
}
.promo-wide__description { 
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #f9fcfc;
}
.promo__trial-lesson {
  display: none;
}
.trial {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 200px;
  width: 270px;
  height: 420px;
  border: 2px solid #021a23;
  background-color: #fff;
  padding-left: 25px;
}
.trial__title {
  font-family: 'PT Sans';
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 40px;
  color: #021a23;
}
.trial__description {
  font-family: 'PT Sans';
  font-size: 20px;
  margin-top: 0px;
  font-weight: 400;
  line-height: 28px;
  color: #021a23;
}
.trial-form__name, 
.trial-form__phone, 
.trial-form__directions {
  margin-top: 20px;
  width: 210px;
  border: none;
  border-bottom: 2px solid #021a23;
  -webkit-border-radius: 0px;
  background-color: transparent;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #596063;
}
.trial-form__button {
  margin-left: -25px;
  width: 266px;
  padding: 25px 30px;
  margin-top: 45px;
  font-size: 20px;
  color: white;
  background-color: #021a23;
  border: none;
  cursor: pointer;
}
.trial-form__button {
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
}
.direction__container {
  width: 100%;
  height: 568px;
  display: flex;
  flex-direction: row;
}
.direction__wrap {
  flex: 1 1 100%;
  margin: 0 auto;
}
.direction__col{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
}
.block-title {
  width: 100%;
  border: none;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;
}
.block-title--rotate {
  width: 70px;
  height: 568px;
  margin-right: 30px;
  transform: rotate(180deg);
  writing-mode: tb-rl;
  border: none;
  border-right: 2px solid #eec643;
  border-left: 2px solid #eec643;
}
.block-title__text {
  font-size: 48px;
  margin: 0;
  padding: 15px 20px;
  padding-right: 15px;
}
.direction__item {
  margin: 0px;
  padding-top: 23px;
  padding-left: 30px;
}
.direction__item-guitar {
  flex: 0 0 470px;
  min-width: 0;
  margin-right: 30px;
}
.direction__item-vocal {
  order: 0;
  flex: 1;
  min-width: 0;
  background-image: url(../img/directions_card_img_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.direction__row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  height: 50%;
}
.direction__item-piano {
  flex: 0 0 470px;
  margin-right: 30px;
}
.direction__item-lecture {
  height: auto;
  flex: 1 1 25%;
  display: block;
  background-image: url(../img/directions_card_img_4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.direction__title {
  margin: 0;
  font-family: 'PT Sans';
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #f9fcfc;
}
.direction__desc {
  display: none;
}
.direction-wide__desc {
  display: block;
  width: 50%;
  margin-top: 10px;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #f9fcfc;
}
#lecture{
  width: 195px;
}
.direction__price {
  display: block;
  margin-top: 30px;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #f9fcfc;
}
.block-rotated {
  display: none;
}
.direction__item-all {
  display: block;
  width: 100%;
  margin-left: 30px;
  height: auto;
  flex: 1 1 25%;
  background-color: #eec643;
}
.item-all__title {
  margin: 0;
  padding-right: 20px;
  font-family: 'PT Sans';
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #f9fcfc;
}
.tempo__wrap {
  display: flex;
  flex-direction: row;
  height: 570px;
}
.tempo__left {
  flex: 1 1 50%;
  margin-right: 30px;
}
.tempo__block{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 476px;
}
.tempo__card {
  min-height: 0;
  margin: 0;
  padding: 0;
}
.tempo__card--composition {
  flex: 1 1 50%;
  min-width: 0;
  min-height: 100%;
  margin-right: 30px;
  background-image: url(../img/advantages_card_img_1.png);
}
.tempo__card--result {
  flex: 1 1 50%;
  min-width: 0;
  background-image: url(../img/advantages_card_img_2.png);
}
.tempo__right {
  flex: 1 1 50%;
  display: flex;
  justify-content: space-between;
}
.direction-wide__row {
  flex: 1 1 50%;
  height: 100%;
  margin: 0;
  margin-right: 30px;
}
.tempo__card--studio {
  min-width: 100%;
  margin: 0;
  background-image: url(../img/advantages_card_img_3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tempo__card--bg {
  display: block;
  flex: 1 1 50%;
  padding: 0;
  margin: 0;
}
.tempo__title {
  margin-top: 23px;
  margin-left: 30px;
  font-family: 'PT Sans';
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #f9fcfc;
}
.tempo__discription {
  display: none;
}
.tempo__discription--wide {
  display: block;
  margin-top: 10px;
  margin-right: 13px;
  margin-left: 30px;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #f9fcfc;
}
.trial {
  height: 100%;
}
.trial--yellow {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  border: 2px solid #eec643;
  background-color: #fff;
}
.trial-form--yellow {
  margin-top: 150px;
}
.trial__title--yellow {
  color: #eec643;
}
.trial-form__name--yellow, 
.trial-form__phone--yellow, 
.trial-form__directions--yellow {
  border-bottom: 2px solid #eec643;
}
.trial-form__button--yellow {
  padding: 0;
  margin-top: 50px;
  width: 266px;
  height: 65px;
  background-color: #eec643;
}
.video__wrap {
  display: flex;
  margin: 0;
  padding: 0;
}
.video__list {
  width: 1080px;
  position: relative;
  padding: 0;
  margin: 0;
}
.video__item {
  margin: 0;
  padding-top: 31px;
  padding-left: 11px;
}
.video__item--A {
  margin: 0;
  min-width: 0px;
  width: 780px;
  height: 570px;
  margin-right: 30px;
  background-image: url(../img/video_card_img_1-big.png);
}
.video__col {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}
.video__item--B {
  display: block;
  position: absolute;
  width: 270px;
  height: 170px;
  top: 0;
  right: 0;
  background-image: url(../img/video_card_img_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video__item--C {
  display: block;
  position: absolute;
  width: 270px;
  height: 170px;
  top: 192px;
  right: 0;
  background-image: url(../img/video_card_img_3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video__item--D {
  display: block;
  position: absolute;
  width: 270px;
  height: 170px;
  top: 384px;
  right: 0;
  background-image: url(../img/video_card_img_4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video__item--A:before {
  width: 60px;
  height: 75px;
  margin: 200px 350px;
}
.video__item--B:before,
.video__item--C:before,
.video__item--D:before {
  width: 35px;
  height: 43px;
  margin: 45px 110px;
}
.video__title--mb {
  display: none;
}
.video__discription--mb {
  display: none;
}
.video__title--bg {
  display: block;
  margin-top: -10px;
  margin-left: 30px;
  font-family: 'PT Sans';
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #f9fcfc;
}
.video__discription--bg {
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  width: 250px;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #f9fcfc;
}
.location {
  height: 568px;
}
.location__wrap {
  width: 100%;
  margin: 0;
}
.location__header {
  display: flex;
}
.block-title__wide {
  width: 62%;
}
.location__row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.location__address {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
}
.location__phone {
  order: -1;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px
}
#map {
  margin-bottom: 0;
  margin-top: 20px;
  height: 475px !important;
}
.location__map {
  margin: 0;
  margin-right: 30px;
  width: 880px !important;
  height: 40px !important;
}
.trial-lesson__button {
  display: none;
}
.trial--buttom {
  margin: 0
}
.footer {
  display: block;
  margin-top: 80px;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
}
.logo--footer {
  font-size: 20px;
}
.social-media {
  margin-right: -20px;
}
.social-media__list {
  display: flex;
  list-style: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: transparent;
}
.social-media__item {
  margin: 0px 20px;
  font-family: 'PT Sans';
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.social-media__link {
text-decoration: none;
  color: #021a23;
}